header {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  padding-right: 30px;
}

.logo-wrapper img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .logo-wrapper {
    max-width: 56px;
  }
  header {
    padding-right: 14px;
    margin-bottom: 64px;
  }
}
